Repository AlgoLeadMe/AlgoLeadMe-8, pull requests merged in 2024-08, with the labels that each got.

#78 21-seongwon030
  seongwon030/dfs/트리.py
Labels: 리뷰 완료 ✔️, seongwon030

#77 20-yuyu0830
  yuyu0830/LIS/14003.cpp
  yuyu0830/README.md
Labels: 리뷰 완료 ✔️, yuyu0830

#85 23-seongwon030
  seongwon030/dfs/게임.py
Labels: 리뷰 완료 ✔️, seongwon030

#86 23-yuyu0830
  yuyu0830/LCS/9252.cpp
  yuyu0830/README.md
Labels: 리뷰 완료 ✔️, yuyu0830

#84 22-yuyu0830
  yuyu0830/DP/1562.cpp
  yuyu0830/README.md
Labels: 리뷰 완료 ✔️, yuyu0830

#89 26-InSange
  InSange/BFS/310_Minimum Height Trees.cpp
  InSange/README.md
  InSange/수학/840_Magic Squares In Grid.cpp
Labels: 리뷰 기다리는 중 🔥, InSange
