Repository AlgoLeadMe/AlgoLeadMe-8, pull requests merged in 2024-05, with the labels that each got.

#28 7-InSange
  InSange/README.md
  InSange/스택/9935.cpp
Labels: 리뷰 완료 ✔️, InSange

#32 8-InSange
  InSange/README.md
  InSange/투포인터/2470.cpp
Labels: 리뷰 완료 ✔️, InSange

#35 8-dhlee777
  dhlee777/dfs/적록색약.cpp
Labels: 리뷰 완료 ✔️, dhlee777

#33 8-yuyu0830
  yuyu0830/탐색/12851.cpp
  yuyu0830/그리디/1202.cpp
  yuyu0830/탐색/1865.cpp
Labels: 리뷰 완료 ✔️, yuyu0830

#37 8-seongwon030
  seongwon030/bfs/결혼식.py
Labels: 리뷰 완료 ✔️, seongwon030

#36 9-yuyu0830
  yuyu0830/정렬/23970.cpp
Labels: 리뷰 완료 ✔️, yuyu0830

#42 9-dhlee777
  dhlee777/문자열처리/AC.cpp
Labels: 리뷰 완료 ✔️, dhlee777

#43 10-seongwon030
  seongwon030/수학/연속 합.py
Labels: 리뷰 완료 ✔️, seongwon030

#44 11-seongwon
  seongwon030/DP/합분해.py
Labels: 리뷰 완료 ✔️, seongwon030

#47 10-dhlee777
  dhlee777/bfs/토마토.cpp
Labels: 리뷰 완료 ✔️, dhlee777

#40 10-InSange
  InSange/README.md
  InSange/스택/3015.cpp
Labels: 리뷰 완료 ✔️, InSange

#41 11-InSange
  InSange/DFS/2668.cpp
  InSange/README.md
Labels: 리뷰 완료 ✔️, InSange

#39 10-yuyu0830
  yuyu0830/README.md
  yuyu0830/탐색/1799.cpp
Labels: 리뷰 완료 ✔️, yuyu0830

#48 11-dhlee777
  dhlee777/dp/1로만들기.cpp
Labels: 리뷰 완료 ✔️, dhlee777

#51 12-dhlee777
  dhlee777/README.md
  dhlee777/union-find/연결요소의개수.cpp
Labels: 리뷰 완료 ✔️, dhlee777

#45 11-yuyu0830
  yuyu0830/그리디/1826.cpp
Labels: 리뷰 완료 ✔️, yuyu0830

#50 12-seongwon030
  seongwon030/브루트포스/암호만들기.py
Labels: 리뷰 완료 ✔️, seongwon030

#46 12-InSange
  InSange/DP/2565.cpp
  InSange/README.md
Labels: 리뷰 완료 ✔️, InSange
